
body{
  background-image: url(../img/15.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1{
  background-color: rgb(66, 71, 120);
  color:rgb(148, 154, 208);
  margin: 10px 550px;
}

table{
  text-align: center;
  width: 100%;
}

table td{
    color: rgb(193, 190, 192);
}

table th{
  color: rgb(81, 104, 219);
    background-color: rgb(40, 45, 71);
}

table td,th{
  font-size: 1.2em;
  padding: 0.2em;
}


table tr:nth-child(even){
  background-color: rgba(69, 66, 56,.8);
}

table tr:nth-child(odd){
  background-color: rgba(105, 102, 91,.8);
}
